---
import { Image } from "@astrojs/image/components";
import Base from "@layouts/Base.astro";
import Cta from "@layouts/components/Cta.astro";
import { markdownify } from "@lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";

const homepage = await getEntryBySlug("about", "index");
const { banner, feature, services, workflow, call_to_action, team } = homepage.data;
---

<Base>
  <!-- banner -->
  <section class="section pb-[50px]">
    <div class="container">
      <div class="row text-center ">
        <div class="mx-auto lg:col-10">
        {
            banner?.logo && (
              <img
                class="mx-auto mt-12"
                src={banner?.logo}
                width={700}
                height={390}
                alt="banner image"
              />
            )
          }
          {
            banner?.content && (
              <p class="mt-8 lg:text-3xl md:text-2xl text-primary" set:html={markdownify(banner.content)} />
            )
          }
          <div class="flex justify-center pb-12">
            {
              banner?.button?.enable && (
                <a
                  class="btn mt-11 rounded-full bg-white px-5 py-0 hover:bg-[#024853] hover:text-white hover:shadow-lg transition duration-300"
                  href={banner.button.link}
                >
                  <div class="flex">
                    <span class="btn-label flex items-center">
                      {banner.button.label}
                    </span>
                    <img
                      class="m-3  flex items-center"
                      src="images/Google-Play.webp"
                      width="30"
                      height="30"
                      alt="banner image"
                    />
                    <span class="btn-label flex items-center googleplay">
                      Google Play
                    </span>
                  </div>
                </a>
              )
            }
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- teams -->
  <section class="section bg-theme-light ">
    <div class="mx-3 py-4">
      <div class="text-center pb-12 ">
        <h2 class="lg:text-6xl">{markdownify(team!.title)}</h2>
      </div>
      <div class="mt-8 grid gap-x-2 gap-y-2 sm:grid-cols-3 lg:grid-cols-6">
        {
          team!.teams.map((item, i) => (
            <div class="text-center">
              {item.image && (
                <img
                  class="rounded-full mx-auto"
                  alt={item.image}
                  src={item.image}
                  width={570}
                  height={570}
                />
              )}
              <div class="mt-2">
                <p
                  class="h5 text-bold font-bold text-primary"
                  set:html={markdownify(item!.name)}
                />
                <p class="italic">{item.role}</p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>


  <script>
    import Swiper, { Autoplay, Pagination } from "swiper";
    new Swiper(".service-carousel .swiper", {
      modules: [Pagination, Autoplay],
      autoplay: {
        delay: 3000,
      },
      pagination: {
        type: "bullets",
        el: ".service-carousel .pagination",
        clickable: true,
      },
    });
  </script>
  <!-- ./End service -->

  <!-- Workflow -->
  <section class="section pb-8">
    <div class="mb-8 text-center">
      <h2
        class="mx-auto  font-bold leading-[44px] lg:text-6xl pb-8"
        set:html={workflow?.title}
      />
      <p class="mt-3 lg:text-2xl" set:html={workflow?.description} />
    </div>
    <Image
      src={workflow!.image}
      alt="workflow image"
      width={1920}
      height={414}
    />
    <div class="flex justify-center pb-12">
            {
              banner?.button?.enable && (
                <a
                  class="btn mt-11 rounded-full bg-white px-5 py-0 hover:bg-[#024853] hover:text-white hover:shadow-lg transition duration-300"
                  href={banner.button.link}
                >
                  <div class="flex">
                    <span class="btn-label flex items-center">
                      {banner.button.label}
                    </span>
                    <img
                      class="m-3  flex items-center"
                      src="images/Google-Play.webp"
                      width="30"
                      height="30"
                      alt="banner image"
                    />
                    <span class="btn-label flex items-center googleplay">
                      Google Play
                    </span>
                  </div>
                </a>
              )
            }
          </div>
  </section>
</Base>
