---
import { Image } from "@astrojs/image/components";
import config from "@config/config.json";
import Base from "@layouts/Base.astro";
import { markdownify } from "@lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";

const entry = await getEntryBySlug("contact", "index");
const { contact_form_action } = config.params;
const { title, description,banner, info, workflow } = entry?.data;
---

<Base title={title} description={description}>
  <section class="section">
    <div class="container">
      <h1
        class="text-center font-bold lg:text-[56px] lg:text-6xl pb-8"
        set:html={markdownify(title)}
      />
      <div class="section row pb-0">
        <div class="col-12 md:col-6 lg:col-7">
          <form class="contact-form" method="POST" action={contact_form_action}>
            <div class="mb-3">
              <input
                class="form-input w-full rounded"
                name="name"
                type="text"
                placeholder="Nama"
                required
              />
            </div>
            <div class="mb-3">
              <input
                class="form-input w-full rounded"
                name="email"
                type="email"
                placeholder="Email Anda"
                required
              />
            </div>
            <div class="mb-3">
              <input
                class="form-input w-full rounded"
                name="subject"
                type="text"
                placeholder="Saya ingin bicara mengenai..."
                required
              />
            </div>
            <div class="mb-3">
              <textarea
                class="form-textarea w-full rounded-md"
                rows="7"
                placeholder="Pesan Anda"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">
              Kirim Sekarang</button
            >
          </form>
        </div>
        <div class="content col-12 md:col-6 lg:col-5">
          <h4 set:html={markdownify(info?.title)} />
          <p class="mt-4" set:html={markdownify(info?.description)} />
          <ul class="contact-list mt-5 list-none pl-0">
            {
              info?.contacts?.map((contact: string) => (
                <li>
                  <strong class="text-dark" set:html={markdownify(contact)} />
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- Workflow -->
  <section class="section pb-8 bg-theme-light">
    <div class="mb-8 text-center">
      <h2
        class="mx-auto  font-bold leading-[44px] lg:lg:lg:text-6xl pb-8"
        set:html={workflow?.title}
      />
      <p class="mt-3 lg:text-2xl" set:html={workflow?.description} />
    </div>
    <Image
      src={workflow!.image}
      alt="workflow image"
      width={1920}
      height={414}
    />
    <div class="flex justify-center pb-12">
            {
              banner?.button?.enable && (
                <a
                  class="btn mt-11 rounded-full bg-white px-5 py-0 hover:bg-[#024853] hover:text-white hover:shadow-lg transition duration-300"
                  href={banner.button.link}
                >
                  <div class="flex">
                    <span class="btn-label flex items-center">
                      {banner.button.label}
                    </span>
                    <img
                      class="m-3  flex items-center"
                      src="images/Google-Play.webp"
                      width="30"
                      height="30"
                      alt="banner image"
                    />
                    <span class="btn-label flex items-center googleplay">
                      Google Play
                    </span>
                  </div>
                </a>
              )
            }
          </div>
  </section>
</Base>
