---
import { Image } from "@astrojs/image/components";
import Base from "@layouts/Base.astro";
import Cta from "@layouts/components/Cta.astro";
import { markdownify } from "@lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";

const homepage = await getEntryBySlug("download", "index");
const { banner, feature, services, workflow, call_to_action } = homepage.data;
---

<Base>
  <!-- banner -->
  <section class="section pb-[50px]">
    <div class="container">
      <div class="row text-center">
        <div class="mx-auto lg:col-10">
        
          <h1 class="font-primary font-bold lg:text-[56px]">{banner?.title}</h1>
          
          {
            banner?.content && (
              <p class="mt-4" set:html={markdownify(banner.content)} />
            )
          }

          {
            banner?.button?.enable && (
              <a class="btn bg-white mt-11 py-0 px-5 rounded-full" href={banner.button.link}>
                <div class="flex">
                <span class="btn-label flex items-center">
                    {banner.button.label}
                  </span>
                  <Image
                    class="ml-2 mr-4 flex items-center"
                    src={banner?.google}
                    width={100}
                    height={55}
                    alt="banner image"
                  />
                </div>
              </a>
            )
          }


          
        </div>
      </div>
    </div>
  </section>
</Base>
