---
import { Image } from "@astrojs/image/components";
import Base from "@layouts/Base.astro";
import Cta from "@layouts/components/Cta.astro";
import { markdownify } from "@lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";

const homepage = await getEntryBySlug("download", "index");
const { banner, feature, services, workflow, call_to_action } = homepage.data;
---

<Base>
  <!-- banner -->
  <section class="section pb-[50px]">
    <div class="container">
      <div class="row text-center">
        <div class="mx-auto lg:col-10">
          <h1 class="font-primary font-bold">{banner?.title}</h1>
          {
            banner?.content && (
              <p class="mt-4" set:html={markdownify(banner.content)} />
            )
          }

          {
            banner?.button?.enable && (
              <a class="btn btn-primary mt-4" href={banner.button.link}>
                {banner.button.label}
              </a>
            )
          }

          {
            banner?.image && (
              <Image
                class="mx-auto mt-12"
                src={banner?.image}
                width={750}
                height={390}
                alt="banner image"
              />
            )
          }
        </div>
      </div>
    </div>
  </section>
</Base>
