---
import { Image } from "@astrojs/image/components";
import Base from "@layouts/Base.astro";
import { markdownify } from "@lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";
const entry = await getEntryBySlug("faq", "index");
const { title, description, banner, faqs, workflow } = entry.data;
---

<Base title={title} description={description}>
  <section class="section ">
    <div class="container">
      <h1
        class="text-center font-bold lg:text-[56px]"
        set:html={markdownify(title)}
      />
      <div class="section row -mt-6">
        {
          faqs?.map((faq) => (
            <div class="col-12 mt-6 md:col-6">
              <div class="p-12 shadow rounded-xl bg-theme-light">
                <div class="faq-head relative">
                  <h4 set:html={markdownify(faq.title)} />
                </div>
                <p class="faq-body mt-4" set:html={markdownify(faq.answer)} />
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>
   <!-- Workflow -->
  <section class="section pb-8 bg-theme-light">
    <div class="mb-8 text-center">
      <h2
        class="mx-auto  font-bold leading-[44px] lg:text-6xl pb-8"
        set:html={workflow?.title}
      />
      <p class="mt-3 lg:text-2xl" set:html={workflow?.description} />
    </div>
    <Image
      src={workflow!.image}
      alt="workflow image"
      width={1920}
      height={414}
    />
    <div class="flex justify-center pb-12">
            {
              banner?.button?.enable && (
                <a
                  class="btn mt-11 rounded-full bg-white px-5 py-0 hover:bg-[#024853] hover:text-white hover:shadow-lg transition duration-300"
                  href={banner.button.link}
                >
                  <div class="flex">
                    <span class="btn-label flex items-center">
                      {banner.button.label}
                    </span>
                    <img
                      class="m-3  flex items-center"
                      src="images/Google-Play.webp"
                      width="30"
                      height="30"
                      alt="banner image"
                    />
                    <span class="btn-label flex items-center googleplay">
                      Google Play
                    </span>
                  </div>
                </a>
              )
            }
          </div>
  </section>
</Base>
